<div class="eliminations">
    <h2>Begin Eliminations</h2>
    <h3>{{name}}</h3>

    <form action="/admin/{{perma}}/start/eliminations/" method="post" class="eliminations">
        <label for="days">How many rounds of eliminations would you like to run?</label>
        <p class="info">There are currently <strong>{{count}}</strong> entrants in the bracket</p>
        <select name="days" id="days">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <button class="button">Begin Eliminations</button>
    </form>
</div>