<header>
  <h2>Rollback Bracket - <span>{{bracket.name}}</span></h2>
</header>
<form action="/me/rollback/{{bracket.perma}}" method="post">
  <div class="input-group">
    <label for="round">Round to Rollback to</label>
    <select id="round" name="round">
      {{#each roundTitles}}
        <option value="{{@index}}">{{title}}</option>
      {{/each}}
    </select>
  </div>
  <h3>Note: Rolling back a bracket will delete all votes after the rollback point. THIS CANNOT BE REVERSED!</h3>
  <button class="small-button disable-on-click" type="submit">Rollback</button>
</form>