<div class="eliminations">
    <h2>Round Voting Statistics</h2>
    <h3>{{bracket.name}}</h3>

    <table>
        <thead>
            <tr>
                <th>Round</th>
                <th>Group</th>
                <th>Votes</th>
            </tr>
        </thead>
        {{#each stats}}
            <tr>
                <td>{{tier}}</td>
                <td>{{group}}</td>
                <td>{{total}}</td>
            </tr>
        {{/each}}
    </table>

</div>