<div class="stats">
    <h2>Round Voting Statistics</h2>
    <h3>{{bracket.name}}</h3>

    <a href="/me/download/{{bracket.perma}}/" target="_blank" class="small-button">Download All Vote Data</a>

    <canvas id="chart" height="500"></canvas>

    <script>
        window.statsData = {{{jsonBlob stats}}};
    </script>

</div>