<div class="ad">
    {{#unless isMobile}}
        <a href="https://www.patreon.com/dxprog" target="_blank">
            <img src="/static/images/animebracket-patreon.jpg" alt="AnimeBracket is brought to you by the generous support of patrons on Patreon" />
        </a>
        <p class="ad__attribution">
            Cirno artwork by <a class="ad__link" href="https://www.pixiv.net/member_illust.php?mode=medium&illust_id=428462" target="_blank">GIF</a>
        </p>
    {{/unless}}
</div>
