<header id="nav-header">
    <a href="/"><h1>AnimeBracket</h1></a>
    <nav>
        <ul>
            <li><a href="/brackets/">Current Brackets</a></li>
            <li><a href="/brackets/past/">Past Brackets</a></li>
            <li><a href="/about/">About</a></li>
            {{#if user}}
                <li class="user-divider"><a href="/me/">My Brackets</a></li>
                <li><a href="/user/logout/">Logout</a></li>
            {{else}}
                <li class="user-divider"><a href="/user/login/?redirect=%2Fme%2F">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>