<h2>{{bracket.name}}</h2>
<div class="info">
    <h3>The Rules</h3>
    <p>{{{rules}}}</p>
    <button type="button" class="button accept">This seems fair. Take me to the form</button>
</div>

<form class="form">
    <h3>Character Nomination</h3>

    <p class="message hidden"></p>

    <label for="txtName">Character Name:</label>
    <input type="text" name="nomineeName" id="txtName" autocomplete="off" />

    <label for="txtSource">Source:</label>
    <input type="text" name="nomineeSource" id="txtSource" autocomplete="off" />

    <label for="txtPic">Link to Character Picture:</label>
    <input type="text" name="image" id="txtPic" autocomplete="off" />

    <input type="hidden" name="bracketId" value="{{bracket.id}}" />
    <input type="hidden" name="verified" value="" />
    <button type="submit" class="button">Nominate</button>
</form>