<div class="results">
    <header>
        <h2 class="title"></h2>
        <ul class="groups">
            <li data-group="finals">Finals</li>
            <li data-group="full">Full</li>
        </ul>
    </header>
    <div class="bracket-display"></div>
    <script type="text/javascript">
        window.bracketData = {{{jsonBlob .}}};
    </script>
</div>