@import "restyle";

@at-root {
  @include restyle-define(button, (

    restyle-var(padding): 15px 40px,
    restyle-var(background-color): get-color(green),
    restyle-var(border-color): transparent,

    display: inline-block,
    padding: restyle-var(padding),
    border-radius: 2px,
    background-color: restyle-var(background-color),
    color: get-color(white),
    text-decoration: none,
    border: 0,
    cursor: pointer,

    restyle-modifiers: (
      small: (
        restyle: 'body thin inverse',
        restyle-var(padding): 10px 20px
      ),

      round: (
        restyle-var(border-color): get-color(dark-green),
        border-radius: 50%,
        height: 45px,
        width: 45px,
        border: 1px solid restyle-var(border-color),
        restyle-var(padding): 0,
        box-sizing: border-box,

        // Round buttons should never have text
        color: rgba(#000, 0),
        font-size: 0,

        restyle-modifiers: (
          neutral: (
            restyle-var(border-color): get-color(dark-gray),
            restyle-var(background-color): get-color(light-gray)
          ),
          critical: (
            restyle-var(border-color): get-color(dark-red),
            restyle-var(background-color): get-color(red)
          )
        )
      )
    )
  ));
}