@import "restyle";

@at-root {
  @include restyle-define(button, (

    restyle-var(padding): 15px 40px,
    restyle-var(background-color): get-color(green),
    restyle-var(border-color): transparent,

    display: inline-block,
    padding: restyle-var(padding),
    border-radius: 2px,
    background-color: restyle-var(background-color),
    color: get-color(white),
    text-decoration: none,
    border: 0,
    cursor: pointer,

    restyle-modifiers: (
      small: (
        restyle: 'body thin inverse',
        restyle-var(padding): 10px 20px
      ),

      round: (
        restyle-var(border-color): get-color(dark-green),
        border-radius: 50%,
        height: 45px,
        width: 45px,
        border: 1px solid restyle-var(border-color),
        restyle-var(padding): 0,
        box-sizing: border-box,

        // Round buttons should never have text
        color: rgba(#000, 0),
        font-size: 0,

        restyle-modifiers: (
          neutral: (
            restyle-var(border-color): get-color(gray),
            restyle-var(background-color): get-color(light-gray)
          ),
          critical: (
            restyle-var(border-color): get-color(dark-red),
            restyle-var(background-color): get-color(red)
          )
        )
      )
    )
  ));

  @include restyle-define(input-group, (
    margin: spacing(2) 0,
    '& label': (
      restyle: label
    ),
    '& input[type="text"]': (
      restyle: textbox
    )
  ));

  @include restyle-define(label, (
    restyle: body,
    display: block,
    color: get-color(dark-green),
    padding-bottom: spacing(1),
    padding-left: spacing(1)
  ));

  @include restyle-define(textbox, (
    restyle: body,
    display: block,
    padding: spacing(1),
    border: 1px solid get-color(gray),
    width: 33%
  ));
}