@import "restyle";

@at-root {

  $page-gutter: spacing(10);
  $white: get-color(white);

  @include restyle-define(header, (
    '& h2': (
      restyle: 'heading'
    ),
    restyle-modifiers: (
      'in a light page': (
        background: get-color(light-gray),
        position: relative,
        left: -$page-gutter,
        width: calc(100% + #{$page-gutter * 2}),
        padding: spacing(2.5) $page-gutter,
        box-sizing: border-box,
        '& h2': (
          restyle: 'heading in a header'
        )
      ),
      'with a subheading': (
        '& h2': (
          restyle: 'heading in a header with a subheading'
        )
      )
    )
  ));

  @include restyle-define(page, (
    width: 1240px,
    margin: 0 auto,
    padding: 0 $page-gutter,
    box-sizing: border-box,
    restyle-modifiers: (
      light: (
        background: $white,
        padding-bottom: $page-gutter,
        '& + footer': (
          margin: 0,
          background: get-color(light-black),
          padding: spacing(4) 0,
          '& p': (
            margin: 0
          )
        )
      )
    )
  ));
}