.admin-entrant-list__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.admin-entrant-item .entrant-lockup__info {
  display: flex;
  flex-direction: column;
}
