@import '../../../scss/lib/spacing';

.admin-entrant-item {
  &__item {
    padding-bottom: spacing(2);
    border-bottom: 1px solid #ccc;
    margin-bottom: spacing(2);
  }

  .entrant-lockup__info {
    display: flex;
    flex-direction: column;
  }

  .entrant-lockup__meta {
    margin-left: spacing(4);
  }
}

.admin-table__actions .button {
  margin-left: spacing(2);
}
