<div class="eliminations">
    <h2>Begin Bracket</h2>
    <h3>{{bracket.name}}</h3>
    <form action="/me/start/{{bracket.perma}}/voting/" method="post">
        <label for="entrants">How many entrants would you like in this bracket?</label>
        <select id="entrants" name="entrants">
            {{#each entrants}}
                <option value="{{.}}">{{.}}</option>
            {{/each}}
        </select>
        <label for="groups">Groups?</label>
        <select id="groups" name="groups">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
        </select>
        <button type="submit" class="button">Start Bracket</button>
    </form>
</div>