<div class="stats">
    <h2>Round Voting Statistics</h2>
    <h3>{{bracket.name}}</h3>

    <canvas id="chart" height="500"></canvas>

    <script>
        window.statsData = {{{jsonBlob stats}}};
    </script>

</div>