@import "mixins";

@font-face {
    font-family: 'Helvetica Condensed Bold';
    src: url('fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-boldcond-webfont.svg#helvetica_lt_std_condbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('fonts/helveticaltstd-light-webfont.eot');
    src: url('fonts/helveticaltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-light-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-light-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-light-webfont.svg#helvetica_lt_std_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$darkGrey: #494a4c;
$medTurk: #96bcb1;
$blue: #7b8fa8;
$lightBlue: #e6fff7;

* { margin:0; padding:0; }
label { display:block; margin-bottom:5px; }
a img {
    border: 0;
}

body { background:#c4e6dd url(images/grad_bg.png) repeat-x; width:1140px; margin:0 auto; }
h1 {
    @include image-text(url(images/logo.png), 372px, 166px);
    margin: 20px auto;
}
h2 { font:normal 36px 'Helvetica Condensed Bold', sans-serif; color:#494a4c; text-transform:uppercase; }
p, li, label { font:normal 24px/1 'Helvetica Light', sans-serif; margin-top:10px; }

#intro { margin-left:60px; position:relative; }
#intro h2 { width:520px; }
#intro p { width:348px; }
#intro img { position:absolute; right:-173px; top:-48px; }
#intro a.nominate { display:block; width:354px; height:0; padding-top:80px; overflow:hidden; background:url(images/awwnime_nominate.png) no-repeat; margin:20px 0 0 5px; }
#intro a.vote { display:block; width:354px; height:0; padding-top:80px; overflow:hidden; background:url(images/vote.png) no-repeat; margin:20px 0 0 5px; }
#intro p a { color:#494a4c; font:normal 24px 'Helvetica Condensed Bold', sans-serif; }

.login-form {
    p {
        font-size: 14px;
        text-align: center;
        width: 50%;
        margin: 10px auto;
    }
    a {
        @include image-text(url(images/reddit_login.png), 187px, 88px);
        margin: 0 auto;
    }
}

.read-only {
    @include button();
    display: block;
    font-size: 14px;
    margin: 25px auto 0;
    width: 340px;
    text-align: center;
}

#nominate {
    margin-left: 60px;
    position: relative;
    .info {
        h2 {
            width: 645px;
        }
        p {
            width: 600px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
    img {
        position: absolute;
        right: -28px;
        top: -71px;
    }

    a {
        display: block;
        width: 354px;
        height: 0;
        padding-top: 80px;
        overflow: hidden;
        background: url(images/awwnime_agree.png) no-repeat;
        margin: 20px 0 0 50px;
    }
    ul {
        padding-left:32px;
        li {
            width: 610px;
            font-size: 20px;
        }
    }

    .footnote {
        font-size: 14px;
        margin: 0 0 5px;
        width: 500px;
    }
    .form {
        margin-top: 20px;
        display: none;
    }
    input {
        border: 1px solid #494a4c;
        height: 30px;
        width: 404px;
        padding: 4px;
        font: normal 24px/1 'Helvetica Light', sans-serif;
        margin-bottom: 10px;
        &:focus {
            background: #f2f3df;
        }
        &.error {
            background:#fcc;
        }
    }

    button {
        display: block;
        width: 181px;
        height: 0;
        padding-top: 55px;
        overflow: hidden;
        background: url(images/awwnime_submit.png) no-repeat;
        margin: 20px 0 0 104px;
        border: 0;
        cursor: pointer;
    }

}

#message { position:absolute; opacity:0; right:-137px; width:230px; padding:20px; text-align:center; font:normal 36px 'Helvetica Condensed Bold', sans-serif; background:#fff; border-radius:10px; text-transform:uppercase; }
#message:after { content:'.'; display:block; width:51px; height:0; padding-top:25px; overflow:hidden; background:url(images/awwnime_tail.png) no-repeat right center; position:absolute; bottom:-25px; left:0; }

#round { width:830px; margin:0 auto; }
#round h2 { font-size:48px; line-height:1; text-align:center; margin-top:5px; }
#round .rounds { margin-top:40px; overflow:hidden; }
#round .round { height:155px; background:url(images/round_bg.png) no-repeat 0 52px; margin-bottom:40px; }
#round .wildcard .round,
#round .elimination .round { background:url(images/wildcard_entrant.png) no-repeat center 52px; float:left; padding-right:10px; }

#round .elimination .round { float:none; }

#round .entrant { width:396px; float:left; position:relative; height:155px; }
#round .wildcard .entrant, #round .elimination .entrant { margin:0 auto; float:none; }
#round .entrant:hover,
#round .entrant.selected { cursor:pointer; background:url(images/check.png) no-repeat right 67px; }
#round .voted { opacity: 0.25; }
#round .voted .entrant { cursor:default; }
#round .entrant h4 { position:absolute; left:181px; bottom:90px; font-size:24px; width:167px; text-align:left; }
#round .entrant h5 { position:absolute; left:181px; top:80px; font-size:14px; width:167px; text-align:left; }
#round .entrant .imgContainer { padding:0 0 5px 5px; background:url(images/round_entrant.png) no-repeat left bottom; display:block; margin-left:15px; }
#round .entrant .image { display: block; width: 150px; height: 0; padding-top: 150px; overflow: hidden; background-size: cover; }
#round .entrant.right { float:right; background-position:left 67px; filter:gray; }
#round .entrant.right h4, #round .entrant.right h5 { left:auto; right:187px; text-align:right; }
#round .entrant.right .imgContainer { position:absolute; right:20px; }
#round .disclaimer { font-size:24px; padding:10px 150px; }
#round #vote { display:block; width:181px; height:0; padding-top:55px; overflow:hidden; background:url(images/submit.png) no-repeat; margin:20px auto; border:0; cursor:pointer; }


#survey { display:none; }

#round {

    &.characters {
        ul {
            list-style: none;
            .entrant {
                background: url(images/wildcard_entrant.png) no-repeat center 52px;
                margin-right: 15px;
                &:hover {
                    background-position: center 52px;
                    cursor: default;
                }
            }
        }
    }

    #formatVotes {
        background: transparent;
        border: 0;
        display: none;
        padding: 20px;
        width: 400px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        font-size: 16px;
    }

    h3,
    h4,
    h5,
    .disclaimer {
        font: normal 30px/1 'Helvetica Condensed Bold', sans-serif;
        color: $darkGrey;
        text-transform: uppercase;
        text-align: center;
    }

    .vote-success p,
    .message {
        font: normal 24px/1 'Helvetica Condensed Bold', sans-serif;
        color: $darkGrey;
        text-transform: uppercase;
        text-align: center;
        background: #fff;
        margin: 20px 40px;
        border-radius: 5px;
        padding: 20px;
    }

    .vote-success,
    .message {
        display: none;
    }

    .vote-success {
        text-align: center;
        .button {
            @include button();
        }
        img {
            display: block;
            margin: 15px auto;
            width: 461px;
        }
        a {
            color: $medTurk;
        }
    }

    .prizes {
        font-size: 16px;
        input {
            display: block;
            float: left;
            margin-right: 10px;
            height: 50px;
            position: relative;
            top: -10px;
        }
    }

}

.landing {
    margin: 0 auto;
    padding: 0 50px;
    min-width: 960px;
    max-width: 1140px;
    background: #83cdb9 url(images/2013_landing.png) repeat-x;
    overflow: hidden;
    position: relative;

    h1 {
        background-size: contain;
        width: 278px;
        padding-top: 106px;
        margin-bottom: 50px;
    }

    &:after {
        content: '';
        display: block;
        background: url(images/rikka_landing_2013.png) no-repeat;
        width: 195px;
        height: 705px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .landing-section {
        margin-left: 165px;
    }

    .button {
        @include button();
        margin: 20px auto 0;
    }

    .arrow-button {
        @include button();
        color: $darkGrey;
        background: none;
        text-transform: none;
        position: relative;
        box-shadow: none;
        &:after {
            content: '';
            display: block;
            height: 0;
            width: 0;
            border: 10px solid transparent;
            border-left-color: $darkGrey;
            position: absolute;
            right: -10px;
            top: (56px - 10px) / 2 - 4px;
        }
    }

    .old-brackets-button {
        float: right;
        margin-top: 170px;
    }

    .old-brackets {
        overflow: hidden;
        display: none;
        .bracket {
            width: 360px;
            min-height: 372px;
            float: left;
            @include border-box();
            position: relative;
            margin-left: 20px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            };

            h3 {
                font: 24px/1 'Helvetica Condensed Bold', sans-serif;
                color: $darkGrey;
            }

            h4 {
                position: absolute;
                top: 315px;
                left: 0;
                right: 0;
                padding: 10px 0;
                background: $medTurk;
                font: 36px/1 'Helvetica Condensed Bold', sans-serif;
                color: $darkGrey;
            }

            img {
                display: block;
                margin: 0 auto;
                position: relative;
                top: -24px;
            }
        }

    }

}

.results {
    margin: 20px;

    header {
        background: $medTurk;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        overflow: hidden;
        border-bottom: 1px solid $darkGrey;
        z-index: 9001;

        .title {
            margin: 5px;
            float: left;
            text-transform: none;
            font-size: 20px;
        }

        ul {
            margin-left: 20px;
            float: left;
            list-style: none;
            overflow: hidden;
            li {
                float: left;
                cursor: pointer;
                padding: 11px 20px;
                font-size: 14px;
                margin: 0;
                &.selected {
                    background: $darkGrey;
                    color: $lightBlue;
                }

            }
        }
    }

    #content {
        overflow: hidden;
        margin-top: 60px;
    }

    .tier {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;

        .round {
            margin-top: 0;
            position: relative;

            &:before {
                display: block;
                position: absolute;
                content: '';
                top: 50%;
                height: 2px;
                border-top: 1px solid $medTurk;
                left: 289px;
                right: 0;
            }

            &.highlighted:before {
                border-color: $blue !important;
            }

            &.single-entrant {
                &:before {
                    left: 281px;
                }

                .entrant {
                    &:before {
                        border-width: 0 !important;
                    }
                }
            }

        }

        .winner {
            text-align: center;
            width: 298px;
            dl {
                width: 298px;
                position: absolute;
                height: 200px;
                top: 50%;
                margin-top: -100px;
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    border-top: 1px solid $medTurk;
                    z-index: -9001;
                }
                dt {
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                }
            }
        }

        .entrant {
            width: 298px;
            position: relative;
            font-family: 'Helvetica Condensed Bold', sans-serif;
            line-height: 1;
            color: $darkGrey;
            position: relative;

            &:before {
                display: block;
                position: absolute;
                border-right: 1px solid $medTurk;
                content: '';
                left: 280px;
                right: 8px;
            }

            &.entrant-top:before {
                top: 50%;
                bottom: 0;
                border-top: 1px solid $medTurk;
            }

            &.entrant-bottom:before {
                top: 0;
                bottom: 50%;
                border-bottom: 1px solid $medTurk;
            }

            &.nobody {
                opacity: 0.25;
            }

            .entrant-info {
                height: 100px;
                width: 280px;
                margin-top: -50px;
                top: 50%;
                position: absolute;
                background: url(images/bracket_entrant.png) no-repeat;

                dd {
                    position: absolute;
                    left: 86px;
                }

                dt {
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                }

                .name {
                    font-size: 14px;
                    bottom: 68px;
                    text-transform: uppercase;
                }

                .image {
                    left: 5px;
                    top: 0;
                    width: 75px;
                    height: 75px;
                    overflow: hidden;

                    img {
                        max-width: 75px;
                        display: block;
                    }
                }

                .source {
                    display: none;
                }

                .votes {
                    top: 42px;
                    font-size: 20px;
                }

            }

            .stats-popup {
                position: absolute;
                background: #fff;
                width: 300px;
                padding: 20px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
                top: 50%;
                margin-top: -138px;
                left: 320px;
                z-index: 9000;

                &:after {
                    content: '';
                    display: block;
                    border: 20px solid transparent;
                    border-right-color: #fff;
                    position: absolute;
                    left: -40px;
                    top: 118px;
                }

                dt {
                    font-size: 16px;
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 0;
                    }
                }

                dd {
                    background: none;
                    font: 14px sans-serif;
                    color: #000;
                }

                .also-voted-for {
                    overflow: hidden;
                    list-style: none;
                    li {
                        float: left;
                        position: relative;
                        margin-right: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            display: block;
                        }
                        .percent {
                            display: block;
                            background: #000;
                            color: #fff;
                            padding: 2px;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                }

                &.out-bounds-top {
                    margin-top: -59px;
                    &:after {
                        top: 39px;
                    }
                }

                &.out-bounds-bottom {
                    margin-top: 0;
                    top: auto;
                    bottom: 5px;
                    &:after {
                        top: auto;
                        bottom: 29px;
                    }
                }

            }

            &.highlighted {
                .entrant-info {
                    background-image: url(images/bracket_entrant_selected.png);
                }
                &:before {
                    border-color: $blue !important;
                }
            }

            &.user-voted .image:after {
                content: '';
                position: absolute;
                bottom: -15px;
                right: -15px;
                display: block;
                width: 60px;
                height: 61px;
                background: url(images/bracket_check.png) no-repeat;
            }

        }

        &.right {

            .round {
                &:before {
                    left: -18px;
                    right: 306px;
                }

                &.single-entrant:before {
                    left: -8;
                    right: 298;
                }
            }

            .entrant {

                &:before {
                    border-left: 1px solid $medTurk;
                    border-right: 0;
                    content: '';
                    right: 298px;
                    left: -8px;
                }

                dl {
                    background-position: right 0;
                }
                .image {
                    left: auto;
                    right: 0;
                }
                dd {
                    text-align: right;
                    left: auto;
                    right: 86px;
                }

                .stats-popup {
                    left: -380px;
                    &:after {
                        border-right-color: transparent;
                        border-left-color: #fff;
                        left: auto;
                        right: -40px;
                    }
                    dd {
                        text-align: left;
                    }
                }

            }
        }

    }
}

.admin {
    .nominee {
        dl {
            overflow: hidden;
            dt {
                display: none;
            }

            .name input {
                font: 20px/1 'Helvetica Condensed Bold';
                color: $darkGrey;
            }

            input {
                border: 1px solid transparent;
                background: transparent;
                padding: 5px;
                width: 300px;
                &:hover,
                &:focus {
                    border-color: #eee;
                    background: #fff;
                }
            }

            .source input {
                font: 16px sans-serif;
            }

            .image {
                float: left;
                margin-right: 15px;
                img {
                    max-width: 200px;
                }
            }
        }

        table {
            .thumb {
                @include image-text(#eee, 75px, 75px);
                background-size: cover;
            }
        }

        button {
            @include button();
            margin: 15px 15px 0 0;
        }

    }
}

#typeahead {
    position: absolute;
    list-style: none;
    background: #fff;
    padding: 0;
    margin: 0;
    width: 404px;

    li {
        margin: 0;
        padding: 5px 10px;
        &:hover,
        &.selected {
            background: $lightBlue;
            cursor: pointer;
        }

        img {
            vertical-align: middle;
        }

    }

}

.brackets {
    position: relative;
    left: 50%;
    float: left;

    .wrapper {
        overflow: hidden;
        position: relative;
        left: -50%;
        float: left;
    }

    .bracket {
        width: 360px;
        min-height: 372px;
        float: left;
        @include border-box();
        position: relative;
        margin-left: 20px;
        text-align: center;

        &:first-child {
            margin-left: 0;
        };

        h3 {
            font: 24px/1 'Helvetica Condensed Bold', sans-serif;
            color: $darkGrey;
        }

        h4 {
            position: absolute;
            top: 315px;
            left: 0;
            right: 0;
            padding: 10px 0;
            background: $medTurk;
            font: 36px/1 'Helvetica Condensed Bold', sans-serif;
            color: $darkGrey;
        }

        img {
            display: block;
            margin: 0 auto;
            position: relative;
            top: -24px;
        }

        .button {
            @include button();
            margin: 20px auto 0;
        }

    }

}

footer {
    clear: both;
    padding-top: 100px;
    p {
        font-size: 14px;
        text-align: right;
        color: $darkGrey;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}