<header>
  <h2>{{bracket.name}}</h2>
</header>

<div id="roster"></div>

<script>
    window.bootstrap = {
      characters: {{{jsonBlob characters}}},
      bracket: {{{jsonBlob bracket}}}
    };
</script>
