<h2>{{bracket.name}}</h2>

{{#if hasSorter}}
  <ul class="sorter">
      <li class="label">Sort By:</li>
      <li>
          <input type="radio" name="sort" id="nameSort" value="name" checked="checked" />
          <label for="nameSort">Character Name</label>
      </li>
      {{#if hasSeed}}
        <li>
            <input type="radio" name="sort" id="seedSort" value="seed" />
            <label for="seedSort">Seed</label>
        </li>
      {{/if}}
      {{#if hasSource}}
        <li>
            <input type="radio" name="sort" id="sourceSort" value="source" />
            <label for="sourceSort">{{bracket.sourceLabel}}</label>
        </li>
      {{/if}}
  </ul>
{{/if}}

<div id="roster">
    {{>_characterList}}
</div>

<script>
    window._characters = {{{jsonBlob characters}}};
</script>