<h2>Who is the most moe?</h2>
<p>
    Join <strong>/r/awwnime</strong> for our third year as we vote to crown the new <strong>Queen of Moe</strong>. Mark your calendars, nominations begin on <strong>October 13th</strong>!
</p>
<a href="/brackets" class="button">Check Out Previous Brackets</a>