<header>
    <h2>Login</h2>
</header>
<div class="login-form">
    <a href="{{loginUrl}}" class="button">Login with Reddit</a>
    <h3>What's this?</h3>
    <p>To help maintain voting integrity, we require that you authenticate with your reddit account.</p>
    <ul>
        <li>Reddit takes care of the login process, so we don't see your password or personal info.</li>
        <li>Brackets may have accout age restrictions set by their administrators.</li>
    </ul>
</div>
<a href="{{originalUrl}}?readonly=true" class="read-only">I just want to see the entrants and not vote</a>