<div class="results">
    <header>
        <h2 class="title"></h2>
        <ul class="groups"></ul>
    </header>
    <div class="bracket-display-wrapper">
        <div class="bracket-display"></div>
    </div>
    <script type="text/javascript">
        window.bracketData = {{{jsonBlob .}}};
    </script>
</div>