<header>
  <h2>{{bracket.name}}</h2>
</header>
<h3>Entrant Statistics</h3>
<div id="reactApp"></div>
<script>
  window._appData = {
    bracket: {{{jsonBlob bracket}}},
    entrants: {{{jsonBlob entrants}}},
  };
</script>
