/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
#page-results h1 {
  display: none; }
#page-results footer {
  position: static;
  margin: 20px; }

.results {
  margin: 100px 20px 20px; }
  .results header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9001; }
    .results header:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      height: 150px;
      /* Firefox 3.6+ */
      background-image: -moz-linear-gradient(rgba(236, 134, 101, 0.25), rgba(0, 0, 0, 0));
      /* Safari 4+, Chrome 1+ */
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(236, 134, 101, 0.25)), to(rgba(0, 0, 0, 0)));
      /* Safari 5.1+, Chrome 10+ */
      background-image: -webkit-linear-gradient(rgba(236, 134, 101, 0.25), rgba(0, 0, 0, 0));
      /* Opera 11.10+ */
      background-image: -o-linear-gradient(rgba(236, 134, 101, 0.25), rgba(0, 0, 0, 0));
      /* IE */
      background-image: -ms-linear-gradient(top, rgba(236, 134, 101, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr="$from", endColorstr="$to")';
      z-index: 9000; }
    .results header .title {
      font: bold 48px/1 'Roboto Condensed', sans-serif;
      color: #ce8665;
      text-transform: uppercase;
      text-align: center;
      margin: 25px 0 20px;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.15); }
    .results header ul {
      font: 18px/1 'Helvetica Light', sans-serif;
      background: white;
      list-style: none;
      width: 200px;
      margin: 0 auto;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 9002; }
      .results header ul:after {
        content: '';
        display: block;
        border: 5px solid transparent;
        border-top: 5px solid #666666;
        position: absolute;
        right: 10px;
        top: 16px; }
      .results header ul li {
        cursor: pointer;
        padding: 11px 20px;
        font-size: 14px;
        margin: 0;
        display: none;
        text-align: center; }
        .results header ul li.selected {
          display: block;
          border: 1px solid #eeeeee;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
      .results header ul:hover li {
        display: block;
        border-top: 1px solid #eeeeee;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .results header ul:hover li.selected {
          border: 0;
          background: #e1ac94; }
        .results header ul:hover li:first-child {
          border: 1px solid #eeeeee;
          border-bottom: 0; }
        .results header ul:hover li:hover {
          color: #9b5231; }
  .results #content {
    overflow: hidden;
    margin-top: 60px; }
  .results .tier {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .results .tier .round {
      margin-top: 0;
      position: relative; }
      .results .tier .round:before {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        height: 2px;
        border-top: 1px solid #ce8665;
        left: 289px;
        right: 0; }
      .results .tier .round.highlighted:before {
        border-color: #9b5231 !important; }
      .results .tier .round.single-entrant:before {
        left: 281px; }
      .results .tier .round.single-entrant .entrant:before {
        border-width: 0 !important; }
    .results .tier .winner {
      text-align: center;
      width: 298px; }
      .results .tier .winner h2 {
        font: bold 48px/1 'Roboto Condensed', sans-serif;
        color: #ce8665;
        text-transform: uppercase;
        font-size: 36px; }
      .results .tier .winner dl {
        width: 298px;
        position: absolute;
        height: 200px;
        top: 50%;
        margin-top: -100px; }
        .results .tier .winner dl:before {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: 1px solid #ce8665;
          z-index: -9001; }
        .results .tier .winner dl dt {
          position: absolute;
          left: -9999px;
          top: -9999px; }
    .results .tier .entrant {
      width: 298px;
      position: relative;
      line-height: 1;
      color: #9b5231;
      position: relative; }
      .results .tier .entrant:before {
        display: block;
        position: absolute;
        border-right: 1px solid #ce8665;
        content: '';
        left: 280px;
        right: 8px; }
      .results .tier .entrant.entrant-top:before {
        top: 50%;
        bottom: 0;
        border-top: 1px solid #ce8665; }
      .results .tier .entrant.entrant-bottom:before {
        top: 0;
        bottom: 50%;
        border-bottom: 1px solid #ce8665; }
      .results .tier .entrant.nobody {
        opacity: 0.25; }
      .results .tier .entrant .entrant-info {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ce8665;
        background: white;
        height: 75px;
        width: 280px;
        margin-top: -37.5px;
        top: 50%;
        position: absolute; }
        .results .tier .entrant .entrant-info dd {
          position: absolute;
          left: 86px; }
        .results .tier .entrant .entrant-info dt {
          position: absolute;
          left: -9999px;
          top: -9999px; }
        .results .tier .entrant .entrant-info .name {
          font: bold 18px/1 'Roboto Condensed', sans-serif;
          bottom: 42px; }
        .results .tier .entrant .entrant-info .image {
          left: -1px;
          top: -1px;
          width: 75px;
          height: 75px;
          overflow: hidden; }
          .results .tier .entrant .entrant-info .image img {
            width: 75px;
            height: 75px;
            display: block; }
        .results .tier .entrant .entrant-info .source {
          display: none; }
        .results .tier .entrant .entrant-info .votes {
          font: bold 18px/1 'Roboto', sans-serif;
          top: 42px; }
      .results .tier .entrant .stats-popup {
        position: absolute;
        background: white;
        width: 300px;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        top: 50%;
        margin-top: -138px;
        left: 320px;
        z-index: 9000; }
        .results .tier .entrant .stats-popup:after {
          content: '';
          display: block;
          border: 20px solid transparent;
          border-right-color: white;
          position: absolute;
          left: -40px;
          top: 118px; }
        .results .tier .entrant .stats-popup dt {
          font-size: 16px;
          margin-top: 10px; }
          .results .tier .entrant .stats-popup dt:first-child {
            margin-top: 0; }
        .results .tier .entrant .stats-popup dd {
          background: none;
          font: 14px sans-serif;
          color: black; }
        .results .tier .entrant .stats-popup .also-voted-for {
          overflow: hidden;
          list-style: none; }
          .results .tier .entrant .stats-popup .also-voted-for li {
            float: left;
            position: relative;
            margin-right: 10px; }
            .results .tier .entrant .stats-popup .also-voted-for li img {
              width: 50px;
              height: 50px;
              display: block; }
            .results .tier .entrant .stats-popup .also-voted-for li .percent {
              display: block;
              background: black;
              color: white;
              padding: 2px;
              text-align: center;
              font-size: 12px; }
        .results .tier .entrant .stats-popup.out-bounds-top {
          margin-top: -59px; }
          .results .tier .entrant .stats-popup.out-bounds-top:after {
            top: 39px; }
        .results .tier .entrant .stats-popup.out-bounds-bottom {
          margin-top: 0;
          top: auto;
          bottom: 5px; }
          .results .tier .entrant .stats-popup.out-bounds-bottom:after {
            top: auto;
            bottom: 29px; }
      .results .tier .entrant.highlighted dl {
        background: #e1ac94; }
      .results .tier .entrant.highlighted:before {
        border-color: #9b5231 !important; }
      .results .tier .entrant.user-voted .image:after {
        content: '';
        position: absolute;
        bottom: -15px;
        right: -15px;
        display: block;
        width: 60px;
        height: 61px;
        background: url(images/bracket_check.png) no-repeat; }
    .results .tier.right .round:before {
      left: -18px;
      right: 306px; }
    .results .tier.right .round.single-entrant:before {
      left: -8;
      right: 298; }
    .results .tier.right .entrant:before {
      border-left: 1px solid #ce8665;
      border-right: 0;
      content: '';
      right: 298px;
      left: -8px; }
    .results .tier.right .entrant dl {
      background-position: right 0; }
    .results .tier.right .entrant .image {
      left: auto;
      right: 0; }
    .results .tier.right .entrant dd {
      text-align: right;
      left: auto;
      right: 86px; }
    .results .tier.right .entrant .stats-popup {
      left: -380px; }
      .results .tier.right .entrant .stats-popup:after {
        border-right-color: transparent;
        border-left-color: white;
        left: auto;
        right: -40px; }
      .results .tier.right .entrant .stats-popup dd {
        text-align: left; }

/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
#page-brackets {
  max-width: 1240px;
  margin: 0 auto;
  background: url(/static/images/argyle_bg.png);
  padding: 40px; }
  #page-brackets ul {
    list-style: none; }
  #page-brackets h1 {
    overflow: hidden;
    width: 242px;
    height: 0;
    padding-top: 118px;
    display: block;
    background: url(/static/images/logo_light.png) no-repeat;
    float: left; }
  #page-brackets #content {
    padding-left: 360px; }
  #page-brackets h2 {
    font: bold 48px/1 'Roboto Condensed', sans-serif;
    color: #ce8665;
    text-transform: uppercase;
    margin-bottom: 40px; }
  #page-brackets .bracket-card {
    width: 700px;
    height: 300px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    margin-bottom: 40px; }
    #page-brackets .bracket-card .info {
      padding: 20px; }
    #page-brackets .bracket-card h3 {
      font: 36px/1 'Roboto', sans-serif;
      margin-bottom: 20px; }
    #page-brackets .bracket-card h4 {
      font: 24px/1 'Roboto', sans-serif;
      margin-bottom: 10px; }
      #page-brackets .bracket-card h4.winner:after {
        content: 'Winner';
        display: block;
        font: 18px/1 'Roboto', sans-serif;
        color: #666666; }
    #page-brackets .bracket-card .card-image {
      width: 350px;
      height: 300px;
      float: left;
      padding-right: 20px; }
    #page-brackets .bracket-card .card-entrants {
      float: left;
      width: 350px;
      height: 300px;
      overflow: hidden;
      position: relative;
      margin-right: 20px; }
      #page-brackets .bracket-card .card-entrants .inner {
        position: absolute;
        left: -12px;
        top: -38px;
        width: 450px; }
      #page-brackets .bracket-card .card-entrants img {
        width: 125px;
        height: 125px;
        float: left; }
    #page-brackets .bracket-card .actions {
      position: absolute;
      bottom: 17px;
      right: 20px; }
      #page-brackets .bracket-card .actions li {
        float: right;
        padding-left: 20px; }
      #page-brackets .bracket-card .actions a {
        color: #9b5231;
        text-decoration: none;
        font: 24px/1 'Roboto', sans-serif;
        text-transform: uppercase; }
  #page-brackets footer {
    position: static; }

* {
  padding: 0;
  margin: 0; }

body {
  font-size: 24px; }

html {
  height: 100%; }

body {
  height: 100%;
  background: url(/static/images/main_bg.png); }

.button {
  font: bold 1.5rem/1 'Roboto Condensed', sans-serif;
  color: white;
  padding: 15px 20px;
  background: #e1ac94;
  text-decoration: none; }

footer {
  position: absolute;
  bottom: 50px;
  left: 150px; }
  footer p {
    font: 1em/1 'Roboto', sans-serif;
    color: white;
    margin-bottom: 10px; }
  footer a {
    color: #e1ac94;
    text-decoration: none; }

@media screen and (max-width: 1280px), screen and (max-height: 768px) {
  body {
    font-size: 18px; }
  footer {
    left: 75px; } }

/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
#page-landing {
  background: url(/static/images/bracket_2014_landing_bg.jpg) no-repeat right center;
  background-size: cover;
  overflow: hidden; }
  #page-landing h1 {
    overflow: hidden;
    width: 242px;
    height: 0;
    padding-top: 118px;
    display: block;
    background: url(/static/images/logo_light.png) no-repeat;
    position: absolute;
    bottom: 50px;
    right: 150px; }
  #page-landing #content {
    padding-left: 150px;
    padding-top: 8.5%;
    width: 690px; }
    #page-landing #content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 40%;
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background: -o-linear-gradient(right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      z-index: -1; }
    #page-landing #content h2 {
      text-transform: uppercase;
      font: bold 2.5em/1 'Roboto Condensed', sans-serif;
      color: #ce8665;
      margin-bottom: 30px; }
    #page-landing #content p {
      font: 2em/1.2 'Roboto', sans-serif;
      color: white;
      margin-bottom: 75px; }
    #page-landing #content strong {
      color: #e1ac94; }

@media screen and (max-width: 1280px), screen and (max-height: 768px) {
  #page-landing #content {
    width: 47%;
    margin-left: 75px;
    margin-top: 100px; } }

/**
 * Taken from: https://gist.github.com/thbar/1319313
 */