/**
 * Taken from: https://gist.github.com/thbar/1319313
 */
#page-brackets {
  max-width: 1240px;
  margin: 0 auto;
  background: url(/static/images/argyle_bg.png);
  padding: 40px; }
  #page-brackets ul {
    list-style: none; }
  #page-brackets h1 {
    overflow: hidden;
    width: 242px;
    height: 0;
    padding-top: 118px;
    display: block;
    background: url(/static/images/logo_light.png) no-repeat;
    float: left; }
  #page-brackets #content {
    padding-left: 360px; }
  #page-brackets h2 {
    font: bold 48px/1 'Roboto Condensed', sans-serif;
    color: #ce8665;
    text-transform: uppercase;
    margin-bottom: 40px; }
  #page-brackets .bracket-card {
    width: 700px;
    height: 300px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    margin-bottom: 40px; }
    #page-brackets .bracket-card .info {
      padding: 20px; }
    #page-brackets .bracket-card h3 {
      font: 36px/1 'Roboto', sans-serif;
      margin-bottom: 20px; }
    #page-brackets .bracket-card h4 {
      font: 24px/1 'Roboto', sans-serif;
      margin-bottom: 10px; }
      #page-brackets .bracket-card h4.winner:after {
        content: 'Winner';
        display: block;
        font: 18px/1 'Roboto', sans-serif;
        color: #666666; }
    #page-brackets .bracket-card .card-image {
      width: 350px;
      height: 300px;
      float: left;
      padding-right: 20px; }
    #page-brackets .bracket-card .card-entrants {
      float: left;
      width: 350px;
      height: 300px;
      overflow: hidden;
      position: relative;
      margin-right: 20px; }
      #page-brackets .bracket-card .card-entrants .inner {
        position: absolute;
        left: -12px;
        top: -38px;
        width: 450px; }
      #page-brackets .bracket-card .card-entrants img {
        width: 125px;
        height: 125px;
        float: left; }
    #page-brackets .bracket-card .actions {
      position: absolute;
      bottom: 17px;
      right: 20px; }
      #page-brackets .bracket-card .actions li {
        float: right;
        padding-left: 20px; }
      #page-brackets .bracket-card .actions a {
        color: #9b5231;
        text-decoration: none;
        font: 24px/1 'Roboto', sans-serif;
        text-transform: uppercase; }
  #page-brackets footer {
    position: static; }
