@import "globals";

.ad {
    position: absolute;
    top: 100px;
    left: 0;

    & .fallback {
        display: block !important;
    }

    //
    // MOBILE STYLES
    //

    @media screen and (max-width: $MOBILE-WIDTH) {
        position: static;
        height: 250px;
        & .fallback {
          width: 300px !important;
          margin: spacing(4) auto;
        }
    }

}