@import "globals";

#page-landing {

    overflow: hidden;

    #content {
        width: 696px;
        margin: 0 auto;
        padding: 0 70px;
        text-align: center;
    }

    h1 {
        @include logo();
        margin: 100px auto 50px;
    }

    h2 {
        @include font-light(48px);
        color: #fff;
        margin-bottom: 100px;
        text-shadow: 0 0 10px #000;
        text-transform: none;
    }

    a {

        display: block;
        width: 375px;
        margin: 0 auto 20px;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        @include font-light(36px);

    }

    .pair {

        position: absolute;
        opacity: 0;
        -webkit-animation: hexFade 30s infinite;
        animation: hexFade 30s infinite;

        svg {
            position: absolute;
            top: 0;

            &.last {
                top: 115px;
            }
        }

        &.forward svg.first {
            left: 66px;
        }

        &.backslash svg.last {
            left: 66px;
        }

        svg {
            clip-path: url(#hexagon);
        }
    }

    .defs {
        position: absolute;
        left: -9999px;
        right: -9999px;
    }

}

@keyframes hexFade {
    0% { opacity: 0; }
    3% { opacity: 1; }
    13% { opacity: 1; }
    17% { opacity: 0; }
}

@-webkit-keyframes hexFade {
    0% { opacity: 0; }
    3% { opacity: 1; }
    13% { opacity: 1; }
    17% { opacity: 0; }
}