@import "globals";

#page-stats {

    #content {
        background: #eee;
        padding-left: 40px;
        padding-right: 40px;
    }

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        @include sub-heading();
        color: $dark;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        @include body-copy();
        font-family: 'Roboto Condensed';
        color: $dark;
        text-align: left;
        padding-left: 10px;
        &.votes {
            padding-right: 50px;
        }
    }

    h4,
    h5 {
        line-height: 1;
        margin-bottom: 5px;
    }

    h5 {
        font-size: 18px;
    }

    .entrant-row {
        td {
            padding: 15px 10px;
            @include body-copy();
            vertical-align: middle;
        }

        &:nth-child(2n) td {
            background: #fff;
        }

        &:hover td {
            background: $lightBlue;
        }

    }

    .entrant-image {
        @include border-box();
        position: relative;
        float: left;
        padding-right: 10px;

        img {
            width: 75px;
            height: 75px;
            display: block;
        }

        .seed {
            border: 1px solid $dark;
            position: absolute;
            bottom: 0;
            width: 22px;
            text-align: center;
            left: 0;
            padding: 2px;
            font: 12px/1 'Roboto', sans-serif;
            font: 12px/1 'Roboto', sans-serif;
            background: $dark;
            color: #fff;
        }

    }

}