@import "globals";

#page-vote {

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        @include sub-heading();
    }

    p {
        @include body-copy();
    }

    label {
        cursor: pointer;
    }

    .character-input {
        display: none;

        &:checked + .mini-card .image:after {
            content: '';
            display: block;
            background: url(/static/images/checkmark.png);
            position: absolute;
            top: 0;
            left: 0;
            height: 100px;
            width: 100px;
        }

        &:checked + .mini-card.right .image:after {
            left: auto;
            right: 0;
        }

    }

}