@import "globals";

.ad {
    position: absolute;
    top: 100px;
    left: 0;

    &__attribution {
        font-size: 18px !important;
        text-align: center;
        margin-top: 10px;
    }

    &__link {
        color: get-color(green);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
