@import "globals";

#page-characters {

  #content {
    @include page;
    padding: 0;
    header {
      @include header;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    font: 30px/1 'Roboto Condensed', sans-serif;
    margin: 30px 0 10px;
    color: #fff;
  }

  footer {
    position: static;
  }

  .sorter {
    overflow: hidden;
    li {
      float: left;
      margin-right: 10px;
    }

    .label {
      @include small-button();
      font: 24px/1 'Roboto Condensed', sans-serif;
      background: transparent;
      color: #fff;
      padding-left: 0;
    }

    input {
      display: none;
      &:checked + label {
        @include small-button();
        border: 1px solid transparent;
      }
    }

    label {
      @include small-button();
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }

  }

}

.mini-card-container {
  overflow: hidden;
}

.mini-card {
  width: 380px;
  float: left;
  margin: 0 20px 20px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .75);

  &__content {
    @include border-box();

    background: rgba(get-color(white), .8);
    position: relative;
    height: 100px;
    padding: 15px 15px 15px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font: 24px/1 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: $dark;
  }

  &__source {
    font: 18px/1 'Roboto', sans-serif;
    color: #000;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
  }

  &--right {
    .mini-card__content {
      padding-left: 15px;
      padding-right: 115px;
    }

    .mini-card__name,
    .mini-card__source {
      text-align: right;
    }

    .mini-card__image {
      left: auto;
      right: 0;
    }
  }

  &__meta {
    padding: spacing(2) spacing(2) spacing(2) (spacing(2) + 28px);
    display: block;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: get-color(dark-green);

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: '';
      position: absolute;
      top: spacing(2);
      bottom: spacing(2);
      left: spacing(2);
      width: 24px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--youtube {
      background: #f00;

      &:before {
        background-image: url(/static/images/youtube-brands.svg);
      }
    }

    &--vimeo {
      background: #1ab7ea;

      &:before {
        background-image: url(/static/images/vimeo-v-brands.svg);
      }
    }

    &--dailymotion {
      background: #00aaff;

      &:before {
        background-image: url(/static/images/dailymotion-brands.svg);
      }
    }

    &--link:before {
      background-image: url(/static/images/link-solid.svg);
    }
  }

  .seed {
    border: 1px solid $dark;
    position: absolute;
    bottom: 0;
    width: 22px;
    text-align: center;
    right: 280px;
    padding: 2px;
    font: 12px/1 'Roboto', sans-serif;
    background: $dark;
    color: #fff;
  }

  //
  // MOBILE STYLES
  //

  @media screen and (max-width: $MOBILE-WIDTH) {
    width: 100%;

    &__name {
      font-size: 20px;
    }

    &__source {
      font-size: 16px;
    }

  }

}

.entrant-lockup {
  display: flex;
  flex-direction: row;
  align-items: center;

  .entrant-lockup__image {
    display: block;
    padding-right: spacing(4);
    width: 75px;
    height: 75px;
  }

  .entrant-lockup__name {
    // semantic font naming... you've come to bite me again
    @include subheading--in-light-page;
    font-size: 2.4rem;
  }

  .entrant-lockup__source {
    @include subheading--in-light-page;
    font-size: 1.8rem;
  }

  input {
    border: 0;
    display: block;
    border-bottom: 1px solid get-color(gray);
    background: rgba(255, 255, 255, .15);
    margin-top: spacing(2);
  }
}
