@import "globals";

#page-static {

  #content {
    @include page;
    @include page--light;
    padding-bottom: spacing(10);

    header {
      @include header;
      @include header--in-light-page;
    }
  }

  h3 {
    @include sub-heading();
    color: $dark;
    margin: 20px 0 10px;
  }

  li, p {
    margin-bottom: 10px;
    @include body-copy();
  }

  ul {
    list-style: disc;
    margin-left: 25px;
  }

}
