@import "globals";

#page-static {

  #content {
    @include restyle(light page);
    padding-bottom: spacing(10);
    header {
      @include restyle(header in a light page);
    }
  }

  h3 {
    @include sub-heading();
    color: $dark;
    margin: 20px 0 10px;
  }

  li, p {
    margin-bottom: 10px;
    @include body-copy();
  }

  ul {
    list-style: disc;
    margin-left: 25px;
  }

}