#tsukiko {

    content: '';
    display: block;
    width: 296px;
    height: 546px;
    background: url(/static/images/tsukiko_eat.png) no-repeat;
    position: fixed;
    bottom: 225px - 546px;
    left: 25%;

}