@import "globals";

#page-vote {
  min-height: 100vh;
  position: relative;

  #content {
    @include page;

    // Account for the footer
    padding-bottom: 158px;
    min-height: 874px + 158px;

    header {
      @include header;
      @include header--with-subheading;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h2 {
    @include heading();
    margin-bottom: 10px;
  }

  h3 {
    @include sub-heading();
  }

  p {
    @include body-copy();
    color: #fff;
  }

  label {
    cursor: pointer;
  }

  #content {
    padding-left: 340px;
  }

  .entrant1 {
    clear: both;
  }

  .button[disabled] {
    background: #ddd;
    cursor: pointer;
  }

  .character-input {
    display: none;

    & + .mini-card .image:after {
      content: '';
      display: block;
      background: url(/static/images/checkmark.png);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
      width: 100px;
    }

    &:checked + .mini-card .image:after {
      opacity: 1;
    }

    &:checked + .mini-card.right .image:after {
      left: auto;
      right: 0;
    }

    & + .left {
      position: relative;
      &:after {
        content: 'vs';
        position: absolute;
        padding-top: 12px;
        text-align: center;
        @include border-box();
        font: 28px 'Roboto Condensed', sans-serif;
        right: -40px;
        top: 18px;
        color: #fff;
        background: $standard;
        height: 60px;
        width: 60px;
        overflow: hidden;
        border-radius: 30px;
        z-index: 9001;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
      }
    }

    @media screen and (max-width: 1170px) {
      & + .left:after {
        right: 50%;
        margin-right: -25px;
        top: auto;
        bottom: -40px;
      }
    }

  }

  .captcha {
    display: flex;
    justify-content: center;
    padding: spacing(2) 0 spacing(4);
  }

  .votes-code {
    display: none;
    margin-bottom: 20px;

    .overlay {

      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, .9);
      z-index: 10000;

      .code-form {
        position: absolute;
        width: 50%;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        background: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        padding: 10px;

        label {
          display: block;
          margin-bottom: 10px;
          @include font-light();
        }

        textarea {
          width: 100%;
          height: 300px;
          font-family: mono-space;
        }

      }

    }

  }


  //
  // MOBILE STYLES
  //

  @media screen and (max-width: $MOBILE-WIDTH) {

    #content {
      @include page;
            padding: 0 spacing(4) 200px;
      min-height: auto;

      header h2 {
        margin: spacing(2) 0;
        line-height: 1;
      }

    }

  }

}
