@font-face {
    font-family: 'Helvetica Condensed Bold';
    src: url('fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-boldcond-webfont.svg#helvetica_lt_std_condbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('fonts/helveticaltstd-light-webfont.eot');
    src: url('fonts/helveticaltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-light-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-light-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-light-webfont.svg#helvetica_lt_std_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin:0; padding:0; }
label { display:block; margin-bottom:5px; }

body { background:#bde3d9 url(images/awwnime_bg.png) repeat-x; width:900px; margin:0 auto; }
h1 { height:0; padding-top:226px; overflow:hidden; background:url(images/awwnime_logo.png) no-repeat center center; }
h2 { font:normal 36px 'Helvetica Condensed Bold', sans-serif; color:#494a4c; text-transform:uppercase; }
p, li, label { font:normal 24px/1 'Helvetica Light', sans-serif;; margin-top:10px; }

#intro { margin-left:60px; position:relative; }
#intro h2 { width:520px; }
#intro p { width:348px; }
#intro img { position:absolute; right:-173px; top:-48px; }
#intro a.nominate { display:block; width:354px; height:0; padding-top:80px; overflow:hidden; background:url(images/awwnime_nominate.png) no-repeat; margin:20px 0 0 5px; }
#intro a.vote { display:block; width:354px; height:0; padding-top:80px; overflow:hidden; background:url(images/vote.png) no-repeat; margin:20px 0 0 5px; }

#nominate { margin-left:60px; position:relative; }
#nominate h2 { width:445px; }
#nominate .info p { width:400px; }
#nominate img { position:absolute; right:-28px; top:-71px; }
#nominate a { display:block; width:354px; height:0; padding-top:80px; overflow:hidden; background:url(images/awwnime_agree.png) no-repeat; margin:20px 0 0 50px; }
#nominate ul { padding-left:32px; }
#nominate li { width:410px; }
#nominate .footnote { font-size:14px; margin-top:20px; width:500px; }
#nominate .form { margin-top:20px; display:none; }
#nominate input { border:1px solid #494a4c; height:30px; width:404px; padding:4px; font:normal 24px/1 'Helvetica Light', sans-serif; }
#nominate input:focus { background:#f2f3df; }
#nominate input.error { background:#fcc; }
#nominate button { display:block; width:181px; height:0; padding-top:55px; overflow:hidden; background:url(images/awwnime_submit.png) no-repeat; margin:20px 0 0 104px; border:0; cursor:pointer; }
#message { position:absolute; opacity:0; right:-137px; width:230px; padding:20px; text-align:center; font:normal 36px 'Helvetica Condensed Bold', sans-serif; background:#fff; border-radius:10px; text-transform:uppercase; }
#message:after { content:'.'; display:block; width:51px; height:0; padding-top:25px; overflow:hidden; background:url(images/awwnime_tail.png) no-repeat right center; position:absolute; bottom:-25px; left:0; }

#round { width:830px; margin:0 auto; }
#round h2 { font-size:48px; line-height:1; text-align:center; margin-top:5px; }
#round h3, 
#round h4, 
#round h5, 
#round .disclaimer, 
#round .message { font:normal 30px/1 'Helvetica Condensed Bold', sans-serif; color:#494a4c; text-transform:uppercase; text-align:center; margin-top:5px; }
#round .rounds { margin-top:40px; overflow:hidden; }
#round .round { height:155px; background:url(images/round_bg.png) no-repeat 0 52px; margin-bottom:40px; }
#round .wildcard .round { background:url(images/wildcard_entrant.png) no-repeat center 52px; float:left; padding-right:10px; }
#round .entrant { width:396px; float:left; position:relative; height:155px; }
#round .wildcard .entrant { margin:0 auto; float:none; }
#round .entrant:hover,
#round .entrant.selected { cursor:pointer; background:url(images/check.png) no-repeat right 67px; }
#round .entrant h4 { position:absolute; left:181px; bottom:90px; font-size:24px; width:167px; text-align:left; }
#round .entrant h5 { position:absolute; left:181px; top:80px; font-size:14px; width:167px; text-align:left; }
#round .entrant img { padding:0 0 5px 5px; background:url(images/round_entrant.png) no-repeat left bottom; display:block; margin-left:15px; }
#round .entrant.right { float:right; background-position:left 67px; filter:gray; }
#round .entrant.right h4, #round .entrant.right h5 { left:auto; right:187px; text-align:right; }
#round .entrant.right img { position:absolute; right:20px; }
#round .disclaimer { font-size:24px; padding:10px 150px; }
#round button { display:block; width:181px; height:0; padding-top:55px; overflow:hidden; background:url(images/submit.png) no-repeat; margin:20px auto; border:0; cursor:pointer; }
#round .message { background:#fff; margin:20px 40px; border-radius:5px; display:none; font-size:24px; padding:20px; }

#survey { display:none; }